.header-wrapper {
  top: 0px;
  width: 100%;
  position: fixed;
  background-color: white;
  padding: 5px 0px;
  z-index: 1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.chats-body {
  padding: 0px;
  padding-top: 100px;
  background-image: url(../image/chatBg.png);
  min-height: 10000px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat__write-container {
  position: fixed;
  bottom: 0px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@keyframes float {
  0% {
    box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.25),
      0px 18px 36px -18px rgba(0, 0, 0, 0.3),
      0px -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  50% {
    box-shadow: 0px 30px 60px -60px rgba(50, 50, 93, 0.25),
      0px 18px 36px -18px rgba(0, 0, 0, 0.3),
      0px -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
  100% {
    box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.25),
      0px 18px 36px -18px rgba(0, 0, 0, 0.3),
      0px -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}

.chat__write {
  bottom: 0px;
  margin: 0 auto;
  border-radius: 0px;
  padding: 20px 60px;
  border: none;
  font-size: 14px;
  width: 100%;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  box-shadow: 0px -18px 36px -18px rgba(0, 0, 0, 0.1);
}

.chat__write:focus {
  outline: none;
  width: 80%;
  transform: translateY(-50px);
  border-radius: 40px;
  box-shadow: 0px 30px 60px -12px rgba(50, 50, 93, 0.25),
    0px 18px 36px -18px rgba(0, 0, 0, 0.3),
    0px -12px 36px -8px rgba(0, 0, 0, 0.025);
  animation: float 3s linear infinite forwards;
}

.chat__write:focus ~ .chat__icon {
  opacity: 0;
}

.chat__icon {
  font-size: 15px;
  transition: opacity 0.2s ease-in-out;
}

.chat__icon-left {
  position: absolute;
  left: 20px;
}

.chat__icon-right {
  position: absolute;
  right: 10px;
}

.chat .chat__messages {
  border-top: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px;
  padding-top: 20px;
}

.chat__messages .chat__timestamp {
  font-size: 12px;
  padding: 5px 10px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  opacity: 0.5;
  box-shadow: rgba(23, 55, 87, 0.1) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.07) 0px 5px 15px 0px;
  text-transform: uppercase;
}

.message {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 5px;
}

.message .message__content {
  font-size: 13px;
  width: 100%;
}

.incoming-message {
  align-self: flex-start;
}

@keyframes spin {
  from {
    transform: none;
  }
  to {
    transform: rotatey(1turn);
  }
}

.incoming-message img {
  width: 40px;
  border-radius: 50px;
  margin-right: 10px;
  animation: spin 1s ease;
}

.sent-message {
  align-self: flex-end;
}

.sent-message .message__author {
  text-align: end;
}

.message .message__bubble {
  margin-top: 5px;
  background-color: white;
  border-radius: 10px;
  padding: 5px 5px 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 35px 0px,
    rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  color: white;
  background-image: linear-gradient(to right, #4776e6, #8e54e9);
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  color: white;
  background-image: linear-gradient(to right, #4776e6, #8e54e9);
}

@keyframes incomingAnim {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.incoming-message {
  animation: incomingAnim 0.5s ease-out forwards;
}

@keyframes sentAnim {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.sent-message {
  animation: sentAnim 0.5s ease-out forwards;
}
