.find .find__header-list {
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
}

.find__header-list .find__header-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.find__header-list .header-btn__icon {
  font-size: 25px;
  display: block;
}

.find__header-list .header-btn__title {
  margin-top: 20px;
  font-size: 12px;
}

.find .find__recommended {
  margin-top: 20px;
  border-top: 1px solid #f7f7f7;
  padding-top: 15px;
}

.find .find__title {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 20px;
}
