.bigScreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #fce006;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
  font-size: 28px;
  padding: 0px 20px;
  text-align: center;
  line-height: 1.5;
  display: none;
  z-index: 2;
}

@media screen and (min-width:550px) {
  .bigScreen{
    display: flex;
  }
}